Question 1: List and its default functions.

In [35]:
lst=[1,2,3,4,'hello',2.3]
#functions in lists:

#function 1:
lst.append(89.983)
#adds the given object to the list
print(lst)

[1, 2, 3, 4, 'hello', 2.3, 89.983]

In [11]:
#function 2:
lst.index(4)
#indicates the index position of the object in the list

3

In [13]:
#function 3:
lst.reverse()
lst
#reverses the given list

[1, 2, 3, 4, 'hello', 2.3, 89.983]

In [14]:
#function 4:
lst.pop(2)
lst
#removes the object in that particular index position

[1, 2, 4, 'hello', 2.3, 89.983]

In [18]:
#function 5:
lst1=[1,4,5,6,2,3,9]
lst1.sort()
lst1
#sorts the given list in ascending or descending order

[1, 2, 3, 4, 5, 6, 9]

Question 2: Dictionary and its default functions.

In [29]:
dit={'name':'Ananya','Gender':"female"}

In [30]:
#function 1:
dit.keys()
#retrieves the keys of the dictionary

dict_keys(['name', 'Gender'])

In [31]:
#function 2:
dit.values()
#retrieves the values in the dictionary

dict_values(['Ananya', 'female'])

In [32]:
#function 3:
dit.get('name')
#gets the value of name wrt to the key-value pair associated with it

'Ananya'

In [33]:
#function 4:
dit.pop('name')
#removes the last key-value pair
dit

{'Gender': 'female'}

In [34]:
#function 5:
dit.items()
#shows a list of all the key-value pairs in the dictionary

dict_items([('Gender', 'female')])

Question 3: Set and its default functions

In [1]:
s1=set([1,2,3,4])
s2=set([1,2,3,4,5,6,7,8,9])

In [2]:
#function 1:
s1.add(5)
s1
#adds an object to the set

{1, 2, 3, 4, 5}

In [3]:
#function 2:
s1.issubset(s2)
#checksto see if set1 is a subset of set2

True

In [5]:
#function 3:
s2.difference(s1)
#Difference between two sets

{6, 7, 8, 9}

In [7]:
#function 4:
s2.pop()
#removes an item of the set

1

In [10]:
#function 5:
s2.clear()
s2
#clears the set

set()

Question 4: Tuple and explore default methods

In [14]:
tup=(1,2,2,3,3,3,3,4)

In [15]:
#function 1:
tup.count(3)
#counts the number of objects of that particular kind

4

In [16]:
#function 2:
tup.index(3)
#gives the index position of that object

3

Questions 5:Strings and explore default methods.

In [26]:
st='hello there'

In [27]:
#function 1:
st.capitalize()
#capitalizes the first letter of the string

'Hello there'

In [28]:
#function 2:
st.count('l')
#counts the number of the particular letter in string

2

In [29]:
#function 3:
st.index('o')
#indicates the index position of the object

4

In [30]:
#function 4:
st.islower()
#checks if the entire string is in lowercase

True

In [31]:
#function 5:
st.split()
#splits the words in the strings ,space is the default position of split.

['hello', 'there']